{% extends "base.html" %}
{% block title %}Edit Password{% endblock %}
{% block content %}
    <form method="post" id="edit-password-form">
        <div id="password-text">
            <label for="password-name">Password for:</label>
            <input type="text" id="password-name" name="password-name" value="{{password_name}}" readonly />
        </div>
        <div id="edit-password-input">
            <label for="password-value">New password:</label>
            {% if show == 1 %}
                <input type="text" id="password-value" name="password-value" value="{{password_value}}" />
                <button type="submit" id="hide" name="hide">Hide</button>
            {% else %}
                <input type="password" id="password-value" name="password-value" value="{{password_value}}" />
                <button type="submit" id="show" name="show">Show</button>
            {% endif %}
            <button type="submit" id="auto-generate" name="auto-generate">Auto-generate password</button>
        </div>
        <button type="submit" id="cancel" name="cancel">Cancel</button>
        <button type="submit" id="update" name="update">Update</button>
    </form>
{% endblock %}